/**********************cambios generales *******************/
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 39px;
    padding: 0;
    margin: 25px;
    text-align: center;
    background-color: hsl(0, 79%, 49%);
}

h2 {
    font-size: 39px;
    padding-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

small {
    color: white;
    font-weight: 300;
    background-color: hsl(0, 79%, 49%);
}

p {
    text-align: justify;
    /* font-size: 1.4rem; */
}

img {
    width: 500px;
}

/**********************cosas del header *******************/
header nav {
    background-color: hsl(0, 79%, 49%);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    gap: 50px;
    background-color: hsl(0, 79%, 49%);
    text-transform: uppercase;
    list-style-type: none;
}

.logo {
    display: flex;
}

.navbar {
    background-color: #ec1313 !important;
}

.collapse {
    justify-content: end;
}

.carousel-caption p,
h5 {
    width: fit-content;
    background-color: #ec1313;
}

.active {
    color: rgb(255, 255, 255);
    background-color: #7c0505;
}

/**********************cosas del main *******************/
section {
    flex: 1;
}

.hero {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.hero img {
    width: 100%;
}

.card-camiseta {
    margin: 10px;
}

.subtitulo {
    font-size: 35px;
    text-transform: uppercase;
    background-color: #ec1313;
}

.sub_historia {
    font-size: 25px;
    text-transform: uppercase;
    background-color: #ec1313;
}

.plantel {
    align-items: center;
    justify-content: center;
}

.jugadores {
    margin: 10px;
}

.card-body {
    background-color: #ec1313;
    color: aliceblue;
    border-radius: 20px;
}

.camisetas {
    align-items: center;
    justify-content: center;
}

.camiseta {
    margin: 10px;
}

/**********************cosas del footer *******************/
footer {
    margin-top: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 100%;
    background-color: #ec1313;
    color: white;
}

.social_icons {
    font-size: 50px;
    color: white;
    background-color: #ec1313;
    margin-right: 50px;
}